<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/homenavbar.ejs') %>

        <body>
            <div class="container">
                <% result.articles.rows.forEach(article=> { %>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%= article.title %>
                            </h2>
                        </div>
                        <div class="card-boby">
                            <br>
                            <a href="/<%= article.slug %> " class="btn btn-primary"
                                style="margin-bottom: 20px;margin-left: 20px;">Ler artigo</a>
                        </div>
                    </div>
                    <br>
                    <% }) %>
                    <div class="row">
                        <div class="col col-12">
                            <% if(result.page> 2) {%>
                                <a href="/articles/page/<%=result.page-1%>" class="btn btn-primary"
                                    style="float: left;margin-bottom: 20px;">
                                        <<<  Prev </a>
                            <% } else if(result.page==2) {%>
                                <a href="/" class="btn btn-primary"
                                        style="float: left;margin-bottom: 20px;">
                                            <<<  Prev </a>
                            <% } %>
                            <% if(result.next) {%>
                                <a href="/articles/page/<%=result.page+1%>" class="btn btn-primary"
                                                style="float: right;margin-bottom: 20px;">Next >>> </a>
                            <% } %>
                        </div>
                    </div>
            </div>
        </body>

        <%- include('../../partials/footer.ejs') %>