
<%- include('./partials/header.ejs') %> 
<%- include('./partials/homenavbar.ejs') %> 

<body>
  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">Bem-vindo!</h1>
      <p class="lead">Este é um simples blog do guia do programador.</p>
      <hr class="my-4">
      <p>Dedicado a pessoas com intuito de compartilhar conhecimento.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
    </div>

    <% articles.forEach(article=> { %>
      <div class="card">
        <div class="card-header">
            <h2><%= article.title %></h2>
        </div>
        <div class="card-boby">
          <br>
          <a href="/<%= article.slug %> " class="btn btn-primary" style="margin-bottom: 20px;margin-left: 20px;">Ler artigo</a>
        </div>
      </div>
      <br>
      <% }) %>

      <div class="row">
        <div class="col col-12">
          <a href="/articles/page/2" class="btn btn-primary" style="float: right;margin-bottom: 20px;">Next >> </a>
        </div>        
      </div>
  </div>
</body>

<%- include('./partials/footer.ejs') %> 
